.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.welcome {
  width: 100vw;
  height: 95vh;
  background: url('soccer-night.jpeg') no-repeat center center fixed;
}
.picksport {
  width: 100vw;
  height: 95vh;
  background: url('blackBackground.jpg') no-repeat center center fixed;
}
.favorite {
  color: #fb8c00;
}

/* .gamelist {
  margin: auto;
  position: relative;
  height: 200px;
  width: 640px;
  top: 50px;
  left: 50px;
} */
.gamelist {
  margin: auto;
  top: 50px;
  left: 50px;
}
.userlist {
  float: left;
}
.actionbutton {
  margin: auto;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

/* .card {
  margin: auto;
  position: fixed;
  right: 50px;
  top: 67px;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.fluid.large.teal.submit.button {
  background-color: purple !important;
}
